<p id="notice"><%= notice %></p>

<script type = "text/javascript">


/*$(document).ready(function() {
    $('div').onclick(function() {
        $('div').getSelectionText();
    });
});

function getSelectionText() {
    var text = "";
    if (window.getSelection) {
        text = window.getSelection().toString();
    } else if (document.selection && document.selection.type != "Control") {
        text = document.selection.createRange().text;
    }
	
	var str = document.URL;
	
	str = str.replace(/\?highlight\=/g, '');
	
	if (str.indexOf("?highlight=") != -1) {
		str = str.split("?highlight=")[0];
	}
	
	window.location.href = str + "?highlight=" + text;
	
    return text;
}

function selectText(element) {
    var doc = document
        , text = doc.getElementById(element)
        , range, selection
    ;    
    if (doc.body.createTextRange) { //ms
        range = doc.body.createTextRange();
        range.moveToElementText(text);
        range.select();
    } else if (window.getSelection) { //all others
        selection = window.getSelection();        
        range = doc.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
    }
} */

function DialogHandler(elem)
{
    this.dialog = document.getElementById(elem);
}

DialogHandler.prototype.run = function(range)
{
    $(this.dialog).dialog("open");
    $("#dialog_quote").val(range);
}

DialogHandler.prototype.close = function()
{
    $(this.dialog).dialog("close");

    //also clear the textarea of text
}

var Book = null;
var mode = 0;
var Renderer = EPUBJS.Renderer; 
//EPUBJS.filePath = "../";
$(document).ready(function() {

    var dh = new DialogHandler("dialog");
    //initialize dialog
    $("#dialog").dialog({
        autoOpen:false,
        close: function(event, ui)
        {
            $(Book.render.bodyEl).getHighlighter().removeHighlights();
        }
    });

    Book = ePub("../perks_of_wallflower.epub"); // loading of the epub

    Book.renderTo("body_text");
    Book.setDialogCallback(dh);
    Book.getToc().then(function (toc)
    {
        toc.forEach(function(entry)
        {
            var d = document.createElement("div");
            $(d).attr("class", "toc_heading");
            var a = document.createElement("a");
            a.innerHTML = entry.label;
            $(a).attr("href", "javascript:void(0)");
            $(a).attr("onclick", "Book.goto('" + entry.href + "');");
            $(d).append(a);
            $("#toc_panel").append(d);
        });
    });

    $(".btn-group > .btn").on("click", function()
    {
        if(this.id == "mode_read")
        {
            mode = 0;
            var bodyel = Book.render.bodyEl;
            $(bodyel).getHighlighter().removeHighlights();
        }
        else if(this.id == "mode_annot")
        {
            mode = 1;
        }
    });
});

</script>


<div class="titlebar">
  <%= @book.title %>
  by <%= @book.author %>
</div>
<div class="toolbar">
    <div class="toolbar_btn_w">
        <div class="toolbar_btn">
            <div class="btn-group">
              <button type="button" class="btn btn-default" id="mode_read">Read Mode</button>
              <button type="button" class="btn btn-default" id="mode_annot">Annotation Mode</button>
            </div>
        </div>
    </div>
</div>
<div class="reader_container">
    <div class="reader_panel" id="reader_panel1">
        <div class="reader_paneltext" id="toc_panel">
            <div class="toc_title">Table of Contents</div>
        </div>
    </div>
    <div class="reader_body">
        <div class="reader_arrow" id="prev_page">
            <a href="javascript:void(0)" onclick="Book.prevPage();">B</a>
        </div>
        <div class="reader_bodytext_w">
            <div class="reader_bodytext" id="body_text">
                <div id="dialog" title="Add annotation">
                    <form action="#" method="GET">

						<%= form_for(:annotation, :url => {:action => 'create'}) do |f|  %>
						
                        <div><%= f.text_area(:quoted_text,  cols: 20, rows: 5, id: "dialog_quote", class: "form-control", disabled: "disabled") %></div>
                        <div><%= f.text_area(:body,  cols: 20, rows: 5, id: "dialog_quote", class: "form-control", placeholder: "Enter analysis here") %></div>
                     
                        <div>
                            <%= radio_button_tag(:publish_status, "with all credentials") %>
                        </div>
                        <div>
                            <%= radio_button_tag(:publish_status, "with name only") %>
                        </div>
                        <div>
                            <%= radio_button_tag(:publish_status, "anonymously") %>
                        </div>
                        <div>
							<%= submit_tag("Push me") %>
                            <%= button_tag "Publish", :class => "btn btn-default" %>
                        </div>
						<% end %>

                    </form>
                </div>
            </div>
        </div>
        <div class="reader_arrow" id="next_page">
            <a href="javascript:void(0)" onclick="Book.nextPage();">N</a>
        </div>
    </div>
    <div class="reader_panel" id="reader_panel2">
        <div class="reader_paneltext" id="annot_panel"> 
            <div id="annot_panel_title">Annotations</div>
            <div class="annot_list">
                
                <!-- one annotation block !-->
				<% @book.analyses.each do |a| %>
				<% a.annotations.each do |anno| %>

                <div class="annot_w">
                    <div class="annot">
                        <div class="annot_section" id="annot_left">
                            <div>
                                up
                            </div>
                            <div>
                                score
                            </div>
                            <div>
                                down
                            </div>
                        </div>
                        <div class="annot_section" id="annot_mid">
                            <div class="annot_quote">"<%= anno.quoted_text %>"</div>
                            <div class="annot_desc"><%= anno.body %></div>
							<div> posted by <%= link_to anno.user.email, user_path(anno.user) %></div>

                            <div class="annot_details">
                                <div class="annot_details_d">
                                    122 Comments
                                </div>
                                <div class="annot_details_d">
                                    Reply
                                </div>
                                <div class="annot_details_d">
                                    Share
                                </div>
                            </div>
                        </div>
                        <div class="annot_section" id="annot_right">
                            >> discuss in detail
                        </div>
                    </div>
                </div>

				<% end %>
				<% end %>

            </div>
        </div>
    </div>
</div>

<%= link_to_function 'Get Text!', "getSelectionText()" %> </br>
<%= link_to 'Annotate!', :action => "create_annotation", :highlight => params[:highlight], :method => :get%></br>

num analyses = <%= @book.analyses.size %></br>
num annotations = <%= all_annotations(@book).size %></br>

</br>

</br>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
