<p id="notice"><%= notice %></p>

<script type = "text/javascript">


/*$(document).ready(function() {
    $('div').onclick(function() {
        $('div').getSelectionText();
    });
});

function getSelectionText() {
    var text = "";
    if (window.getSelection) {
        text = window.getSelection().toString();
    } else if (document.selection && document.selection.type != "Control") {
        text = document.selection.createRange().text;
    }
    return text;
}

function selectText(element) {
    var doc = document
        , text = doc.getElementById(element)
        , range, selection
    ;    
    if (doc.body.createTextRange) { //ms
        range = doc.body.createTextRange();
        range.moveToElementText(text);
        range.select();
    } else if (window.getSelection) { //all others
        selection = window.getSelection();        
        range = doc.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
    }
} */

var Body = null;
$(document).ready(function() {
    //$(".text_body").lettering('words');
    /*var readerbody = ".reader_body";
    $(readerbody).textHighlighter({
        onBeforeHighlight: function(range) {
            $(readerbody).getHighlighter().removeHighlights();
            return true;
        },
        onAfterHighlight: function(highlights, range) {
            alert("YOU HAVE SELECTED A PIECE OF TEXT");
        }
    }); */

    EPUBJS.filePath = "../";

    Book = ePub("../perks_of_wallflower.epub");
    Book.renderTo("body_text");
    Book.getToc().then(function (toc)
    {
        toc.forEach(function(entry)
        {
            var d = document.createElement("div");
            $(d).attr("class", "toc_heading");
            var a = document.createElement("a");
            a.innerHTML = entry.label;
            $(a).attr("href", "javascript:void(0)");
            $(a).attr("onclick", "Book.goto('" + entry.href + "');");
            $(d).append(a);
            $("#toc_panel").append(d);
        });
    });
});

</script>


<div class="titlebar">
  <%= @book.title %>
  by <%= @book.author %>
</div>
<div class="toolbar">
    place toolkit buttons here
</div>

<div class="reader_container">
    <div class="reader_panel" id="reader_panel1">
        <div class="reader_paneltext" id="toc_panel">
            <div class="toc_title">Table of Contents</div>
        </div>
    </div>
    <div class="reader_body">
        <div class="reader_arrow" id="prev_page">
            <a href="javascript:void(0)" onclick="Book.prevPage();">B</a>
        </div>
        <div class="reader_bodytext_w">
            <div class="reader_bodytext" id="body_text">
            </div>
        </div>
        <div class="reader_arrow" id="next_page">
            <a href="javascript:void(0)" onclick="Book.nextPage();">N</a>
        </div>
    </div>
    <div class="reader_panel" id="reader_panel2">
        <div class="reader_paneltext" id="annot_panel"> 
            Annotations
        </div>
    </div>
</div>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
